<div class="min-h-screen flex justify-center items-center" [ngClass]="getMainDivClasses()">
  <div class="min-h-3/4 w-4/5 rounded-lg flex flex-wrap" [ngClass]="getContentDivClasses()">
    
    
    <div *ngIf="isLogin" class="w-1/2 min-h-full">
      <img class="animate-move" src="../../assets/zelda_invert.png" alt="">
    </div>

    <div class="w-1/2 p-16 flex flex-col justify-center">
      <h1 class="font-bold text-center text-4xl">Welcome {{isLogin ? 'Back': ''}} Zelda</h1>
      <form [ngClass]="getFormClasses()">
        <div class="relative z-0 w-full mb-6 group">
          <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-md bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " required [ngClass]="getEmailInputClasses()">
          <label for="floating_email" class="peer-focus:font-medium absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
          <input type="password" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-md bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " required [ngClass]="getPasswordInputClasses()">
          <label for="floating_password" class="peer-focus:font-medium absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
        </div>

        <div class="flex justify-center">
          <button type="button" class="text-white bg-gradient-to-br btn hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-14 py-2.5 text-center mb-2">{{isLogin ? 'Login': 'Register'}}</button>
        </div>
      </form>

      <h1 *ngIf="isLogin" (click)="toggleLogin()" class="font-bold text-center cursor-pointer">New User? Register now!</h1>
      <h1 *ngIf="!isLogin" (click)="toggleLogin()" class="font-bold text-center cursor-pointer">Existing User? Login now!</h1>

    </div>


    <div *ngIf="!isLogin" class="w-1/2 min-h-full">
      <img class="animate-move" src="../../assets/zelda.png" alt="">
    </div>

  </div>
</div>
